/*body {
  background-color: #1E3A8A;
}*/

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #b6aaaa;
  padding: 20px 15px;
  margin-top: 120px;
  border-radius: 7px;
  font-family: Roboto, sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.login-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px; /* exemplo de largura máxima */
  margin: 0 auto; /* centraliza horizontalmente */
}

.register-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px; /* exemplo de largura máxima */
  margin: 0 auto;
  
}

.form-field {
  display: block;
  padding: 5px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  color: #1E3A8A;
  text-align: center;
}

.form-error {
  text-align: center;
  display: block;
  color: #FF0000;
  font-size: 0.9em;
  font-weight: 600;
}

.button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1E3A8A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  text-align: center;
  background-color: #fff;
  color: #1E3A8A;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.footer a {
  color: #666;
}

.footer a:hover {
  color: #1E3A8A;
}
